<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unicorn.taskscan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SimpleApplication"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".login.LoginAct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".menu.MenuAct"
            android:screenOrientation="portrait" />

        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:screenOrientation="portrait" />-->

        <activity
            android:name=".record.RecordQueryAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".record.RecordStatAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".record.RecordDisplayAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".record.RecordStatDisplayAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TeamNoInputAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".record.DataStatAct"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

    </application>

</manifest>